@media all and (max-width:1700px){
.inner{margin-left:10px;margin-right: 10px;}
}

@media all and (max-width:1024px){
    .profile_h2{
        font-size:2.3rem;
        word-break:keep-all;
    }
    .profile_h2 span{
        /* display: block;
        width:300px;height:200px;
        background:url('../img/sticker.png') no-repeat;
        position: absolute;
        top:calc(100% - 200px); right:-10%;  */
        z-index:-1;
        opacity:0.3;
    }
}
@media all and (max-width:800px){
    .logo img {
        width: 80px;
    }
    #nav{
        transform: translate(-50px , 0);
    }
    #nav ul li {
        margin:5px;
        /* overflow: hidden; */
        font-size:1rem;
    }
}
@media all and (max-width:400px){
    #nav ul li {
        font-size:0.8rem;
    }
    #nav {
        transform: translate(0px , 0);
    }
    #nav ul a, #nav ul img {
        padding: 3px;
        text-align: center;
    }
}